<nav th:fragment="nav" class="navbar bg-base-100 shadow-xl">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </div>
            <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li><a href="/activities" th:text="#{nav.activities}"></a></li>
                <li><a href="/clubs" th:text="#{nav.clubs}"></a></li>
                <li><a th:text="#{nav.explorer}"></a></li>
            </ul>
        </div>
        <a class="btn btn-ghost text-xl" href="/">OTHivity</a>
    </div>


    <div class="navbar-end">
        <div role="tablist" class="hidden lg:flex tabs tabs-border">
            <a role="tab" th:class="'tab ' + (${activeTab} == 'activities' ? 'tab-active' : '')" href="/activities" th:text="#{nav.activities}"></a>
            <a role="tab" th:class="'tab ' + (${activeTab} == 'clubs' ? 'tab-active' : '')" href="/clubs" th:text="#{nav.clubs}"></a>
            <a role="tab" th:class="'tab ' + (${activeTab} == 'explorer' ? 'tab-active' : '')" href="/explorer" th:text="#{nav.explorer}"></a>
        </div>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                </div>
            </div>
            <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li><a th:text="#{nav.profile}"></a></li>
                <li><a th:text="#{nav.logout}"></a></li>
            </ul>
        </div>
    </div>
</nav>
