<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/head :: head(#{ activityOverview.pageTitle})}">
    <th:block>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@3.0.5/dist/vanilla-calendar.min.css">
    </th:block>
</head>
<body class="flex flex-col min-h-screen">
<nav th:insert="~{layout/nav :: nav(activeTab='activities')}"></nav>
<div class="container mx-auto px-6 py-8 grow">
    <!-- content start -->
    <h1 class="text-3xl font-bold mb-6" th:text="#{activityOverview.pageTitle}"></h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-8">

        <div class="lg:col-span-2 mb-8 lg:mb-0">
            <div class="flex justify-between items-center mb-6">
                <div role="tablist" class="tabs tabs-border flex space-x-2">
                    <a role="tab" class="tab tab-active" id="myTab" th:text="#{activityOverview.myTab}"></a>
                    <a role="tab" class="tab" id="createdTab" th:text="#{activityOverview.createdTab}"></a>
                    <a role="tab" class="tab" id="allTab" th:text="#{activityOverview.allTab}"></a>
                </div>
                <button class="btn btn-primary" onclick="window.location.href='/activities/create'">+ Create</button>
            </div>

            <div id="myTable" th:insert="fragments/activity-table :: activityTable(title=#{activityOverview.myTab}, activities=${profileActivities})"></div>
            <div id="createdTable" class="hidden" th:insert="fragments/activity-table :: activityTable(title=#{activityOverview.createdTab}, activities=${createdActivities})"></div>
            <div id="allTable" class="hidden" th:insert="fragments/activity-table :: activityTable(title=#{activityOverview.allTab}, activities=${allActivities})"></div>
        </div>

        <div class="card bg-base-200 shadow-md h-fit">
            <div class="card-body">
                <div class="card-body flex items-center gap-2">
                    <span class="text-3xl">📅</span>
                    <h2 class="card-title mb-0" th:text="#{activityOverview.calendar}"></h2>
                </div>

                <div id="calendar" class="bg-base-100 border rounded-lg shadow p-4"></div>

            </div>
        </div>
    </div>

    <!-- content end -->
</div>

<script th:inline="javascript">
    const myTab = document.getElementById("myTab");
    const allTab = document.getElementById("allTab");
    const createdTab = document.getElementById("createdTab");
    const createdTable = document.getElementById("createdTable");
    const myTable = document.getElementById("myTable");
    const allTable = document.getElementById("allTable");

    myTab.onclick = () => {
        myTab.classList.add("tab-active");
        allTab.classList.remove("tab-active");
        createdTab.classList.remove("tab-active");
        myTable.classList.remove("hidden");
        allTable.classList.add("hidden");
        createdTable.classList.add("hidden");
    };

    allTab.onclick = () => {
        allTab.classList.add("tab-active");
        myTab.classList.remove("tab-active");
        createdTab.classList.remove("tab-active");
        allTable.classList.remove("hidden");
        myTable.classList.add("hidden");
        createdTable.classList.add("hidden");
    };

    createdTab.onclick = () => {
        createdTab.classList.add("tab-active");
        myTab.classList.remove("tab-active");
        allTab.classList.remove("tab-active");
        createdTable.classList.remove("hidden");
        myTable.classList.add("hidden");
        allTable.classList.add("hidden");
    };

    const daysToMark = /*[[${daysToMark}]]*/ [];
</script>
<script type="module">
    import { Calendar } from 'https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@3.0.5/+esm'
    const options = {
        selectionDatesMode: 'multiple',
        selectedDates: daysToMark,
        selectedMonth: new Date().getMonth(),
        selectedYear: new Date().getFullYear(),
    };

    const calendarElement = document.getElementById("calendar");
    const calendar = new Calendar(calendarElement, options)
    calendar.init();
</script>
<footer th:insert="~{layout/footer :: footer}"></footer>
</body>
</html>
