<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/head :: head(#{clubOverview.pageTitle})}"></head>
<body class="flex flex-col min-h-screen">
<nav th:insert="~{layout/nav :: nav(activeTab='clubs')}"></nav>
<div class="container mx-auto px-6 py-8 grow">
<!-- content start -->
<h1 class="text-3xl font-bold mb-6" th:text="#{clubOverview.pageTitle}"></h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-8">

        <div class="lg:col-span-3 mb-8 lg:mb-0">
            <div class="flex justify-between items-center mb-6">
                <div role="tablist" class="tabs tabs-border flex space-x-2">
                    <a role="tab" class="tab" id="myTab" th:classappend="${activeTab == 'my'} ? 'tab-active'" th:text="#{clubOverview.myTab}"></a>
                    <a role="tab" class="tab" id="allTab" th:classappend="${activeTab == 'all'} ? 'tab-active'" th:text="#{clubOverview.allTab}"></a>
                </div>
                <button class="btn btn-primary shadow-2xl" onclick="window.location.href='/clubs/create'" th:text="#{clubOverview.createButton}"></button>
            </div>
            
            <div id="myTable" th:classappend="${activeTab != 'my'} ? 'hidden'"
                 th:insert="fragments/club-table ::clubTable(
                 title=#{clubOverview.myTab},
                 clubs=${joinedClubs},
                 pageParam='myPage',
                 activeTab=${activeTab},
                 size=${size},
                 sortBy=${sortBy},
                 direction=${direction},
                 search=${search})">
            </div>
            
            <div id="allTable" th:classappend="${activeTab != 'all'} ? 'hidden'"
                 th:insert="fragments/club-table ::clubTable(
                 title=#{clubOverview.allTab},
                 clubs=${allClubs},
                 pageParam='allPage',
                 activeTab=${activeTab},
                 size=${size},
                 sortBy=${sortBy},
                 direction=${direction},
                 search=${search})">
            </div>
        </div>
    </div>
</div>

<!-- content end -->
</div>
<script th:inline="javascript">
    const myTab = document.getElementById("myTab");
    const allTab = document.getElementById("allTab");

    myTab.onclick = () => {
        window.location.href = '/clubs?activeTab=my';
    };

    allTab.onclick = () => {
        window.location.href = '/clubs?activeTab=all';
    };
</script>
<footer th:insert="~{layout/footer :: footer}"></footer>
</body>
</html>
