<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/head :: head(#{profileDetail.pageTitle})}"></head>
<body class="flex flex-col min-h-screen">
<nav th:insert="~{layout/nav :: nav(activeTab='profiles')}"></nav>
<div class="container mx-auto px-6 py-8 grow">
    <!-- content start -->

    <div class="flex items-center mb-6 space-x-2 justify-between">
        <div class="flex items-center space-x-2">
            <a th:href="${returnUrl}" class="btn btn-ghost btn-xl">←</a>
            <h1 class="text-3xl font-bold" th:text="#{profileDetail.pageTitle}"></h1>
        </div>
        <div class="flex items-center space-x-2">
            <!-- delete button -->
            <form th:if="${canDelete and !isOwnProfile}" th:action="@{/profile/delete/{username}(username=${profile.username})}" method="post" class="inline" onsubmit="return confirm('Are you sure you want to delete this profile?');">
                <button type="submit" class="btn btn-error text-white" th:text="#{profileDetail.deleteProfile}">Delete Profile</button>
            </form>
            <!-- edit button -->
            <a th:if="${canUpdate}" th:href="@{/profile/edit/{username}(username=${profile.username})}" class="btn btn-primary text-white" th:text="#{profileDetail.editProfile}">Edit Profile</a>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">

        <div class="flex flex-col items-center lg:col-span-1">
            <div class="avatar">
                <div class="w-100 rounded-full bg-base-200 flex items-center justify-center shadow-2xl">
                    <img th:if="${profile.image != null}" th:src="@{${profile.image.url}}" class="object-cover" />
                    <span th:if="${profile.image == null}" class="text-3xl font-semibold text-base-content/60" th:text="${profile.initials}"></span>
                </div>
            </div>
        </div>

        <div class="lg:col-span-2">
            <div class="card bg-base-200 shadow-2xl p-8 space-y-8 rounded-2xl">

                <!-- First Name -->
                <div class="space-y-1" th:if="${profile.firstName != null and !profile.firstName.isEmpty()}">
                    <p class="text-sm font-semibold text-base-content/70" th:text="#{profileDetail.firstName}"></p>
                    <div class="bg-base-100 p-4 rounded-xl shadow-sm">
                        <span class="text-base font-medium" th:text="${profile.firstName}"></span>
                    </div>
                </div>
                
                <!-- Last Name -->
                <div class="space-y-1">
                    <p class="text-sm font-semibold text-base-content/70" th:text="#{profileDetail.lastName}"></p>
                    <div class="bg-base-100 p-4 rounded-xl shadow-sm">
                        <span class="text-base font-medium" th:text="${profile.lastName}"></span>
                    </div>
                </div>

                <!-- Username -->
                <div class="space-y-1">
                    <p class="text-sm font-semibold text-base-content/70" th:text="#{profileDetail.username}"></p>
                    <div class="bg-base-100 p-4 rounded-xl shadow-sm">
                        <span class="text-base font-medium" th:text="${profile.username}"></span>
                    </div>
                </div>
                
                <!-- Email -->
                <div class="space-y-1">
                    <p class="text-sm font-semibold text-base-content/70" th:text="#{profileDetail.email}"></p>
                    <div class="bg-base-100 p-4 rounded-xl shadow-sm">
                        <span class="text-base font-medium" th:text="${profile.email.address}"></span>
                    </div>
                </div>
                
                <!-- Phone -->
                <div class="space-y-1" th:if="${profile.phone != null and #strings.isEmpty(profile.phone.number) == false}">
                    <p class="text-sm font-semibold text-base-content/70" th:text="#{profileDetail.phone}"></p>
                    <div class="bg-base-100 p-4 rounded-xl shadow-sm">
                        <span class="text-base font-medium" th:text="${profile.phone.number}"></span>
                    </div>
                </div>

                <!-- About Me -->
                <div class="space-y-1">
                    <p class="text-sm font-semibold text-base-content/70" th:text="#{profileDetail.aboutMe}"></p>
                    <div class="bg-base-100 p-4 rounded-xl shadow-sm">
                        <span th:text="${profile.aboutMe}"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- content end -->
</div>
<footer th:insert="~{layout/footer :: footer}"></footer>
</body>
</html>
