<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/head :: head(#{settings.title})}"></head>
<body class="flex flex-col min-h-screen">
<nav th:insert="~{layout/nav :: nav(activeTab='settings')}"></nav>
<div class="container mx-auto px-6 py-8 grow">
    <!-- content start -->

    <div class="flex items-center mb-6 space-x-2 justify-between">
        <div class="flex items-center space-x-2">
            <a th:href="${returnUrl}" class="btn btn-ghost btn-xl">←</a>
            <h1 class="text-3xl font-bold" th:text="#{settings.title}"></h1>
        </div>
    </div>

    <div class="card bg-base-200 shadow-2xl p-8 space-y-8 rounded-2xl">
        <div class="flex flex-col space-y-4">
            <h2 class="text-xl font-bold text-error" th:text="#{settings.dangerZone}"></h2>
            <p class="text-base-content/70" th:text="#{settings.deleteProfile}"></p>
            <h2 class="text-xl font-bold" th:text="#{settings.languageSettings}"></h2>
            <form th:action="@{/change-language}" method="post" th:object="${profile}">
                <div class="flex flex-col space-y-4 items-start">
                    <select th:field="*{language}" class="select select-bordered" required>
                        <option th:each="lang : ${languages}" th:value="${lang.name()}"
                            th:selected="${profile.language == lang}"
                            th:text="${lang.emoji + ' ' + lang.name}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-primary" th:text="#{settings.changeLanguage}"></button>
                </div>
            </form>
        </div>
        <div class="flex flex-col space-y-4">
            <h2 class="text-xl font-bold text-error" th:text="#{settings.dangerZone}">Danger Zone</h2>
            <p class="text-base-content/70" th:text="#{settings.deleteProfile}">Once you delete your profile, there is no going back. Please be certain.</p>

            <form th:action="@{/profile/delete/{username}(username=${currentUsername})}" method="post" th:onsubmit="|return confirm('#{settings.confirmDelete}');|">
                <button type="submit" class="btn btn-error text-white" th:text="#{settings.deleteProfileButton}"></button>
            </form>
        </div>
    </div>


    <div class="card bg-base-200 shadow-2xl p-8 space-y-8 rounded-2xl mt-10" th:classappend="${profile.phone == null || profile.phone.number == null} ? 'opacity-50 pointer-events-none' : ''">
        <div class="flex flex-col space-y-4">
            <div class="flex justify-between items-center">
                <h2 class="text-xl font-bold" th:text="#{settings.phoneVerification}"></h2>
                <div th:if="${profile.phone != null && profile.phone.number != null}">
                    <span th:if="${profile.phone.verified}" class="badge badge-success gap-2" th:text="#{settings.verifyStatusGood}"></span>
                    <span th:unless="${profile.phone.verified}" class="badge badge-warning gap-2" th:text="#{settings.verifyStatusBad}"></span>
                </div>
            </div>

            <p class="text-base-content/70">
                <span th:text="#{settings.currentPhone}"></span>
                <span class="font-mono font-bold" th:text="${profile.phone?.number ?: '-'}"></span>
            </p>

            <div th:if="${profile.phone == null || profile.phone.number == null}" class="shadow-2xl">
                <span th:text="#{settings.phoneVerificationMessage}"></span>
            </div>

            <form th:if="${profile.phone != null && profile.phone.number != null}" th:action="@{/profile/phone/verify}" method="get">
                <button type="submit" class="btn btn-primary" th:disabled="${profile.phone.verified}" th:text="#{settings.verifyButton}">
                </button>
            </form>
        </div>
    </div>
    <!-- content end -->
</div>
<footer th:insert="~{layout/footer :: footer}"></footer>
</body>
</html>
