<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/head :: head(#{settings.title})}"></head>
<body class="flex flex-col min-h-screen">
<nav th:insert="~{layout/nav :: nav(activeTab='settings')}"></nav>
<div class="container mx-auto px-6 py-8 grow">
    <!-- content start -->

    <div class="lg:w-1/2 mx-auto">
        <div class="card bg-base-200 shadow-2xl p-8 space-y-8 rounded-2xl">

            <p class="text-base-content/70" th:text="#{verifyCode.instruction}"></p>

            <form th:action="@{/profile/phone/verify}" method="post" th:object="${phoneVerificationDto}">
                <input type="hidden" th:field="*{number}" />

                <div class="space-y-1 mb-6">
                    <label class="label">
                        <span class="label-text text-sm font-semibold text-base-content/70" th:text="#{verifyCode.codeLabel}"></span>
                    </label>

                    <input type="text" th:field="*{code}" class="input input-bordered w-full text-center text-xl font-mono tracking-widest" maxlength="6" required />
                    <p th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-error text-sm mt-1"></p>
                </div>

                <div class="flex justify-end pt-4">
                    <button type="submit" class="btn btn-primary" th:text="#{verifyCode.submitButton}"></button>
                </div>
            </form>

        </div>
    </div>
    <!-- content end -->
</div>
<footer th:insert="~{layout/footer :: footer}"></footer>
</body>
</html>
